body {
    background-image: url('https://images.pexels.com/photos/1635238/pexels-photo-1635238.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover; /* Para cobrir toda a tela */
    background-position: center; /* Para centralizar a imagem */
}
