body {
    background-image: url('https://img.freepik.com/vetores-gratis/vetor-de-fundo-aquarela_1034-738.jpg?semt=ais_hybrid&w=740');
    background-size: cover; /* Para cobrir toda a tela */
    background-position: center; /* Para centralizar a imagem */
}
